// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base        : 0.9rem;
$line-height-base      : 1.6;

$color-all : white;






$color-bleu      : #004E64;
$color-bleu-50   : #00A5CF;
$color-vert-50   : #7AE582;
$color-vert-light: #9FFFCB;
$color-vert      : #25A18E;