* {
  margin: 1.5%;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  margin: 0 auto;
  color: #004E64;
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 50%;
  border-bottom: 2px #004E64 solid;
  border-top: 2px #004E64 solid;
}

.sub-header {
  margin: 10px 0;
  width: 100%;
}
.sub-header .infoFournisseur, .sub-header .minEntreprise {
  width: 45%;
  margin: 0;
}
.sub-header .infoFournisseur ul, .sub-header .minEntreprise ul {
  list-style-type: none;
}
.sub-header .infoFournisseur ul li, .sub-header .minEntreprise ul li {
  margin: 0 0 10px 0;
  font-size: 13px;
}
.sub-header .infoFournisseur ul li span:first-child(), .sub-header .minEntreprise ul li span:first-child() {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.sub-header .infoFournisseur {
  float: left;
  border: 1px solid black;
  border-radius: 0.375rem;
  margin-bottom: 15px;
}
.sub-header .minEntreprise {
  float: right;
}
.sub-header .minEntreprise li {
  padding-left: 5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}
table thead {
  background: #004E64;
}
table thead th {
  font-size: xx-small;
  color: white;
  margin: 7px;
}
table tbody td {
  font-size: 9px;
}
table th, table td {
  padding-top: 7px;
  padding-bottom: 7px;
  text-transform: uppercase;
  text-align: center;
}
table tr {
  border: 0.4px #004E64 solid;
}

.rowsNull {
  border: 0 !important;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.produits {
  clear: both;
  margin: 0 !important;
}
.produits tfoot {
  /* font-size: xx-small ; */
}
.produits tfoot tr {
  border: 0;
}
.produits tfoot tr:first-child() th {
  padding-left: 5px;
  text-align: left;
}
.produits tfoot h6 {
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
.produits tfoot h6 span {
  color: #25A18E;
}
.produits tfoot tr:nth-child(1) th:nth-child(1n+2),
.produits tfoot tr:nth-child(2) th,
.produits tfoot tr:nth-child(3) th,
.produits tfoot tr:nth-child(4) th,
.produits tfoot tr:nth-child(5) th {
  text-align: center;
  text-transform: uppercase;
  font-size: xx-small;
  padding: 10px 0px;
}
.produits tfoot tr:nth-child(1) th:nth-child(2),
.produits tfoot tr:nth-child(2) th:nth-child(1),
.produits tfoot tr:nth-child(3) th:nth-child(1),
.produits tfoot tr:nth-child(4) th:nth-child(1),
.produits tfoot tr:nth-child(5) th:nth-child(1) {
  background-color: #00A5CF;
  color: white;
}

footer {
  margin: 8px 0 0 0;
}

.cmd {
  margin: 8px 0 0 0;
}
