* {
  margin: 1%;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  margin: 0 0 10px 0;
}
header h5 {
  color: #004E64;
  text-transform: uppercase;
  width: 40%;
  font-size: 12px;
  text-align: center;
  border-bottom: 2px solid #004E64;
  padding-bottom: 5px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}
table th {
  background-color: #00A5CF;
  text-align: left;
  color: white;
}
table th, table td {
  padding-left: 5px;
  text-transform: uppercase;
  font-size: 10px;
}
table tr {
  border: 0.4px #004E64 solid;
}

article {
  clear: both;
  margin: 0;
}

.sub-title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.8px;
  font-size: 13px;
  margin: 18px 0px 9px 0px;
}

.cmd, .paiements, .statistiques {
  margin: 0;
  clear: both;
}
.cmd td, .paiements td, .statistiques td {
  font-weight: normal !important;
}

th, td {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer {
  margin: 8px 0 0 0;
}

.cmd {
  margin: 8px 0 0 0;
}

.infoClient tbody tr td:nth-child(1) {
  background-color: rgba(37, 161, 142, 0.2);
  border-right: 1px solid #004E64;
}
