.topPage {
  width: 100%;
  margin: 0 0 10x 0;
}
.topPage .client, .topPage .facture {
  width: 40%;
  margin: 10px 0;
}
.topPage .client {
  float: left;
}
.topPage .facture {
  float: right;
}

.title {
  font-size: 12.5px;
  width: 40%;
  text-align: center;
  text-transform: uppercase;
  color: #004E64;
  margin: auto;
  border: 1.5px solid #004E64;
  padding: 8px 0px;
  border-radius: 0.375rem;
  clear: both;
}

tbody td {
  text-align: left !important;
  padding-top: 8px;
  padding-bottom: 8px;
}
tbody tr td:first-child() {
  background-color: rgba(0, 78, 100, 0.1);
  border-right: 1px solid #00A5CF;
  width: 50%;
}

.infoCheque {
  width: 100%;
  margin: 0;
}
.infoCheque div {
  width: 40%;
  margin: 10px 0;
}
.infoCheque div:nth-child(1) {
  float: left;
}
.infoCheque div:nth-child(2) {
  float: right;
}

hr {
  margin: 10px 0;
  background-color: black;
}

footer {
  margin: 0;
}
footer .fw-bold {
  font-weight: bolder;
}
footer p {
  margin: 0;
  font-size: 11px;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 18px;
}
footer p span {
  margin: 0;
}
